article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

body {
  background: #efefef;
}

.wrapper {
  max-width: 120rem;
  margin: 2rem auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.basis-100 {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.basis-75 {
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
}

.basis-65 {
  -ms-flex-preferred-size: 65%;
      flex-basis: 65%;
}

.basis-50 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.basis-45 {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
}

.basis-35 {
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
}

.basis-25 {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

.basis-10 {
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
}

h1 {
  font-size: 10rem;
  margin: 4rem 0;
}

h2 {
  font-size: 4rem;
  position: relative;
}

h2 i {
  color: #2196f3;
}

h2 span {
  position: absolute;
  font-size: 9rem;
  opacity: .05;
  left: 1rem;
  top: -3rem;
  text-transform: uppercase;
}

h3 {
  text-transform: uppercase;
  font-size: 2.6rem;
  margin: 0;
}

p {
  font-size: 2rem;
  line-height: 3rem;
  color: #5f5c5c;
}

section {
  background: #fff;
  -webkit-box-shadow: 0px 44px 61px -60px #666466;
          box-shadow: 0px 44px 61px -60px #666466;
  margin-bottom: 3rem;
  padding: 4rem 4rem 6rem 4rem;
}

.shadow {
  -webkit-box-shadow: 0px 44px 61px -42px #666466;
          box-shadow: 0px 44px 61px -42px #666466;
}

.preventAllScrollingOnBody {
  overflow: hidden;
}

@media (max-width: 600px) {
  h2 span {
    font-size: 6rem;
  }
}

@media (max-width: 420px) {
  h2 span {
    font-size: 3rem;
  }
}

header {
  font-size: 2.2rem;
  /* HAMBURGER MENU DEFAULTS */
  /* HAMBURGER MENU */
  /* OPEN HAMBURGER */
  /* END OF HAMBURGER MENU */
}

header .hamburger-container {
  display: none;
}

header nav {
  background: #fff;
  height: 9rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 44px 61px -42px #666466;
          box-shadow: 0px 44px 61px -42px #666466;
}

header nav ul {
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style-type: none;
  margin: 0 0 0 2rem;
  padding: 0;
  background-color: rgba(255, 255, 255, 0);
}

header nav ul li {
  display: inline-block;
  margin: 0 1.2rem;
  padding: 0 3rem;
  -webkit-transition: background ease-in-out .4s;
  transition: background ease-in-out .4s;
}

header nav ul li a {
  color: #000;
  display: block;
  text-align: center;
  padding: 5rem 2rem;
  text-decoration: none;
  -webkit-transition: color .5s;
  transition: color .5s;
}

header nav ul li:hover {
  -webkit-box-shadow: 0px 44px 61px -42px #666466;
          box-shadow: 0px 44px 61px -42px #666466;
  background: #2196f3;
}

header nav ul li:hover a {
  color: white;
}

header .mobile-nav {
  display: none;
}

header .hamburger-container {
  display: none;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .open-hamburger {
  display: none;
  margin: 20px;
}

header .preventAllScrollingOnBody {
  overflow: hidden;
}

header .open-hamburger {
  display: block;
  float: right;
  margin-top: 0;
}

header .open-hamburger .fas {
  color: #2196f3;
  font-size: 3rem;
}

header .close-hamburger .fas {
  color: #f6f6f6;
  font-size: 3rem;
}

header .sectionHome .narrowWrapper {
  position: relative;
}

header .mobile-nav-controls {
  text-align: right;
  width: 80%;
  margin: 0 auto;
  padding-top: 20px;
}

header .mobile-nav-controls a {
  display: block;
}

header .mobile-nav {
  background: #2196f3;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
}

header .mobile-nav-list {
  margin-top: 20px;
  padding: 0;
  list-style-type: none;
}

header .mobile-nav-list li {
  margin-bottom: 30px;
  text-align: center;
}

header .mobile-nav-list li a {
  text-decoration: none;
  color: #f6f6f6;
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
}

header .mobile-nav-list li:active {
  background: rgba(0, 0, 0, 0.192);
}

header .mobile-nav-social-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 90px;
  padding-left: 0;
  width: 70%;
}

header .mobile-nav-social-list li .social-link {
  color: #f6f6f6;
  font-size: 3rem;
}

header .mobile-nav-social-list li .social-link:active {
  color: #333;
}

@media (max-width: 970px) {
  header nav ul li {
    padding: 2rem .5rem;
    margin: 0 1rem;
  }
}

@media (max-width: 735px) {
  header {
    margin: 0;
  }
  header nav {
    margin: 0;
  }
  header nav ul li {
    display: none;
  }
  header .hamburger-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 5rem;
    padding: 0 2rem;
  }
  header .hamburger-container a:visited {
    color: #2196f3;
  }
}

.hero {
  padding: 4rem 4rem 6rem 4rem;
  margin-top: 0;
}

.hero .content p {
  font-size: 3rem;
  margin-bottom: 6rem;
}

.hero .portfolio-link {
  padding: 20px 30px;
  background: #2196f3;
  font-size: 2rem;
  text-decoration: none;
  color: #FFF;
  margin-right: 1rem;
}

.hero .portfolio-link:hover, .hero .portfolio-link:focus {
  background: #fff;
  color: #2196f3;
}

.hero .hero-contact {
  font-size: 2.5rem;
  position: absolute;
  background: #ef5350;
  color: #fff;
  padding: 2rem;
  border-radius: 50%;
  z-index: 3;
  right: 70%;
  top: 20%;
}

.hero .hero-contact:hover {
  background: #fff;
  color: #ef5350;
  border: 2px solid #ef5350;
}

.hero .hero-right {
  position: relative;
}

.hero .hero-image {
  height: 350px;
  width: 350px;
  overflow: hidden;
  border-radius: 50%;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 44px 61px -42px #666466;
          box-shadow: 0px 44px 61px -42px #666466;
}

.hero .hero-image img {
  margin: 0 auto;
  margin-top: -15%;
  height: 150%;
  width: auto;
}

@media (max-width: 1000px) {
  .hero .hero-contact {
    right: 80%;
  }
}

@media (max-width: 700px) {
  .hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero .hero-right {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .hero .hero-contact {
    right: 73%;
  }
}

@media (max-width: 400px) {
  .hero .hero-image {
    width: 250px;
    height: 250px;
  }
}

.about p {
  margin: 0;
}

.about .about-right {
  padding: 0 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.about .about-right ul {
  padding: 0;
  width: 100%;
}

.about .about-right ul li {
  padding: 1rem 0;
  font-size: 1.8rem;
}

@media (max-width: 600px) {
  .about-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-content p {
    padding-bottom: 1rem;
  }
}

.tech-skills .grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  justify-items: center;
}

.tech-skills .grid-container div {
  text-align: center;
}

.tech-skills .grid-container div .graphql-container, .tech-skills .grid-container div .redux-container {
  width: 6rem;
  height: 6rem;
  margin: auto;
}

.tech-skills .grid-container div i {
  font-size: 6rem;
}

.tech-skills .grid-container .one i {
  color: #ef5350;
}

.tech-skills .grid-container .two i {
  color: #2196f3;
}

.tech-skills .grid-container .three i {
  color: #fbc02d;
}

.tech-skills .grid-container .four i {
  color: #CC6699;
}

.tech-skills .grid-container .five i {
  color: #2196f3;
}

.tech-skills .grid-container .seven i {
  color: #ef5350;
}

.tech-skills .grid-container .eight i {
  color: #0769AD;
}

.tech-skills .grid-container .nine i {
  color: #2196f3;
}

.language-skills {
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 0;
  padding-top: 8rem;
}

.language-skills .language-right {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-size: 1.8rem;
}

.language-skills .ukr-outer, .language-skills .rus-outer, .language-skills .spn-outer {
  width: 140px;
  height: 140px;
  overflow: hidden;
}

.language-skills .ukr-outer {
  background: white;
  margin: 1em auto;
  position: relative;
  border-radius: 50%;
  border: 13px solid #ef5350;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.language-skills .ukr-inner {
  z-index: 2;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  position: absolute;
  text-align: center;
  left: 10%;
  top: 40%;
}

.language-skills .rus-outer {
  background: white;
  margin: 1em auto;
  position: relative;
  border-radius: 50%;
  border: 13px solid #ef5350;
  border-color: #f0f0f0 #2196f3 #2196f3 #2196f3;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.language-skills .rus-outer::after {
  content: "";
  position: absolute;
  height: 10px;
  border: 10px solid white;
  top: -68%;
  width: 100px;
  height: 100px;
  left: -2%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.language-skills .rus-inner {
  z-index: 3;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  position: absolute;
  text-align: center;
  left: 20%;
  top: 40%;
}

.language-skills .spn-outer {
  background: white;
  margin: 1em auto;
  position: relative;
  border-radius: 50%;
  border: 13px solid #ef5350;
  border-color: #f0f0f0 #f0f0f0 #f0f0f0 #fbc02d;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.language-skills .spn-outer::after {
  content: "";
  position: absolute;
  height: 10px;
  border: 10px solid white;
  width: 86px;
  height: 89px;
  top: 5%;
  left: -55%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  z-index: 3;
}

.language-skills .spn-inner {
  z-index: 4;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  position: absolute;
  text-align: center;
  left: 20%;
  top: 40%;
}

@media (max-width: 700px) {
  .language-left {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    padding: 1rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .language-right {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.portfolio img {
  width: 100%;
  height: auto;
}

.portfolio .pieces {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.portfolio .piece {
  -webkit-transition: -webkit-transform 0.5s, -webkit-filter 0.6s;
  transition: -webkit-transform 0.5s, -webkit-filter 0.6s;
  transition: transform 0.5s, filter 0.6s;
  transition: transform 0.5s, filter 0.6s, -webkit-transform 0.5s, -webkit-filter 0.6s;
}

.portfolio .piece p {
  margin: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
  padding: 3rem 1.5rem;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

@media (max-width: 700px) {
  .portfolio .pieces, .portfolio .piece {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .portfolio .piece:nth-child(even) div:nth-child(1) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.contact {
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-bottom: 0;
}

.contact a, .contact a:visited {
  color: #2196f3;
}

.contact a:hover {
  color: #ef5350;
}

.contact .contact-list {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact .contact-list ul {
  list-style-type: none;
}

.contact .contact-list ul li {
  font-size: 4rem;
  text-decoration: none;
  padding: 2rem 0;
  color: #2196f3;
}

.contact form {
  font-size: 2rem;
  background: #2196f3;
  color: #fff;
  padding: 2rem;
  margin-left: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 3px 4px 21px -2px rgba(68, 68, 68, 0.89);
          box-shadow: 3px 4px 21px -2px rgba(68, 68, 68, 0.89);
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contact form textarea {
  resize: none;
  color: #fff;
  background: #2196f3;
  border: 2px solid #fff;
  padding: 1rem;
}

.contact form input {
  color: #fff;
  background: #2196f3;
  border: solid;
  border-width: 2px;
  border-color: #2196f3 #2196f3 #fff #2196f3;
  padding: 1rem;
  margin: 1rem 0;
}

.contact form input:hover, .contact form textarea:hover {
  border: dashed 2px #fff;
}

.contact form input[type=submit] {
  border: 2px solid #fff;
  background: #fff;
  color: #2196f3;
}

.contact form input[type=submit]:hover, .contact form input[type=submit]:focus {
  background: #2196f3;
  color: #fff;
}

.contact form input::-webkit-input-placeholder, .contact form textarea::-webkit-input-placeholder {
  opacity: 1;
}

.contact form input:-ms-input-placeholder, .contact form textarea:-ms-input-placeholder {
  opacity: 1;
}

.contact form input::-ms-input-placeholder, .contact form textarea::-ms-input-placeholder {
  opacity: 1;
}

.contact form input::placeholder, .contact form textarea::placeholder {
  opacity: 1;
}

@media (max-width: 600px) {
  .contact {
    padding: 2rem 0;
  }
  .contact h2 {
    padding: 0 2rem;
  }
  .contact .contact-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact .contact-content form {
    margin: 0;
  }
  .contact .contact-content ul {
    padding: 0;
  }
  .contact .contact-content ul li {
    display: inline-block;
    margin: 0 1rem;
  }
}

@media (max-width: 400px) {
  .contact i {
    font-size: 2.5rem;
  }
}

footer {
  padding: 2rem 4rem;
  background: #fff;
  text-align: center;
  max-width: 1200px;
  margin: auto;
}

footer p {
  margin: 0;
}
